NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c2luZ3VsYXItYnVmZmFsby0yOC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_yKOOzc6IsfIzimIBcOxT6un6mzkrxbbbr1afcDaH8a
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard

OPENAI_API_KEY=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  
REPLICATE_API_TOKEN=r8_ZYnNr5c2xAfMabRhlluJMTWNZu263kO3aIz3D

DATABASE_URL='mysql://2757vrcza1d2hecy50rt:pscale_pw_fCfEVLROXMnIN9zA2zaC2uBE2QztE5lf1flDc45EoMt@aws.connect.psdb.cloud/saas-ai-platform?sslaccept=strict'

STRIPE_API_KEY=sk_test_51Ni7ZOSJkCZxU7OUn2xJ926YsotXQ70zAFEg0KlZOLluTsiNXn3pwxAtD5EJBEaB2X7KVItBXdbu9pZ9bTIEcPnR00ZHlkeNXf
STRIPE_WEBHOOK_SECRET=whsec_997f95cd374f4064de5beca88c5f54532d36676a0c785c20a25ccc58d10272fe

NEXT_PUBLIC_APP_URL="http://localhost:3000"